body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #F2F8FC;
}
.name-label {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
}

.tabs {
  display: flex;
  gap: 10px;
  /* margin: 10px; */
  justify-content: center;
}

.tab-btn {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #ddd;
  border: none;
  border-radius: 5px;
  color: rgb(80, 80, 80);
}

.tab-btn.active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

#seeRoutes, #findRoutes {
  display: block;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

#seeRoutes {
  padding: 20px 0px;
}

#findRoutes {
  padding-bottom: 0px;
}

#seeRoutes > label {
    font-weight: bold;
}

#routeSelect {
  padding: 5px;
  border-radius: 8px;
}

.input-container {
    padding: 5px;
}

.inputbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;
}

.inputbox-container img {
    width: 1.5rem;
    height: auto;
}

.inputbox {
    display: flex;
    flex-direction: column;
}

.fareEstimate {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

#fareType {
  padding: 5px;
  border-radius: 8px;
}

#currentLocation, #destination {
    border-radius: 5px;
    width: 12em;
    height: 1.5rem;
    padding-left: 8px;
    margin: 3px
}

.findRouteButton {
    border-radius: 9px;
    width: 12em;
    padding: 7px;
    font-weight: bold;
    background-color: rgb(228, 0, 0);
    color: white;
    border: 1px solid rgb(228, 0, 0);
    text-align: center;
    display: block;
    margin: 3px auto;
}

.findRouteButton:hover {
    background-color: rgb(255, 0, 0);
    cursor: pointer;
}

#map {
    height: 60vh;
    width: 90%;
    margin: 10px;
    border-radius: 10px;
    place-self: center;
}


@media (min-width: 600px) {
  .tab-btn {
    padding: 12px 28px;
    font-size: 1.05rem;
  }

  #currentLocation, #destination,
  .findRouteButton {
    width: 16em;
    /* font-size: 1rem; */
  }

  #map {
    height: 60vh;
    width: 70%;
  }

  .inputbox-container {
    gap: 10px;
  }

  .fareEstimate {
    gap: 12px;
  }
}


@media (min-width: 1024px) {
  .name-label {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .tab-btn {
    padding: 10px 32px;
    font-size: 1rem;
  }

  #currentLocation, #destination,
  .findRouteButton {
    width: 20em;
    /* height: 2rem; */
    font-size: 1rem;
  }

  .input-container {
    padding: 10px;
  }

  .inputbox-container img {
    width: 2rem;
  }

  #map {
    height: 70vh;
    width: 80%;
    margin: 20px auto;
  }
}
